<div bsModal #autoShownModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="dialog">
    <div class="modal-content border border-light">
      <div class="modal-header bg-light border-light">
        <h4 class="font-weight-bold">Adicionar novo livro</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body confirm-subtitle p-4">
        <div class="form-group row align-items-center">
          <label class="col-lg-4 col-form-label">Nome do livro</label>
          <div class="col-lg-8">
            <input class="form-control" [(ngModel)]="book.name" type="text">
          </div>
        </div>
        <div class="form-group">
          <label>Descrição</label>
          <textarea [(ngModel)]="book.description" class="form-control" rows="3"></textarea>
        </div>
      </div>
      <div class="modal-footer bg-light border-light d-flex">
        <button type="button" class="btn btn-light" (click)="closeModal()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="onCreateBook()"
          [disabled]="book.name==='' || book.description===''">Adicionar</button>
      </div>
    </div>
  </div>
</div>