<nav class="navbar navbar-expand-md navbar-dark sticky-top bg-primary flex-md-nowrap p-2 shadow-sm">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarMenu"
    aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="sidebarMenu">
    <a class="navbar-brand" href="">Brotherbook</a>
  </div>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['lent-books']" routerLinkActive="active">BB's Disponíveis</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['my-books']" routerLinkActive="active">Meus BB's</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['borrowed-books']" routerLinkActive="active">Devolver BB</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" (click)="doLogout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>


