<div bsModal #autoShownModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="dialog">
      <div class="modal-content border border-light">
        <div class="modal-header bg-light border-light">
          <h4 class="font-weight-bold">Informações do usuário</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body confirm-subtitle mb-3">
          <div class="bg-light text-muted rounded-lg">
            <div class="">
              <b>Nome:</b>
              {{user.name || 'Sem nome'}}
            </div>
            <div>
              <b>E-mail:</b>
              {{user.email}}
            </div>
            <div class="">
              <b>Data da criação da conta:</b>
              {{user.createdAt | date | date: 'dd/MM/yyyy'}}
            </div>
          </div>
      </div>
      <div class="modal-footer bg-light border-light d-flex">
        <button type="button" class="btn btn-light" (click)="closeModal()">Fechar</button>
      </div>
    </div>
  </div>
  