<div class="row">
    <!-- <p >Lista de livros vazia</p> -->
    <div *ngIf="books.length === 0 " class="alert alert-light text-center mx-auto mb-0" role="alert">
        Lista de livros vazia.
    </div>
    <div class="col-sm-3 mt-4" *ngFor="let book of books">
        <div class="card" style="width: 18rem; min-height: 12rem;">
            <div class="card-body">
                <h5 class="card-title">{{book.name}}</h5>

                <button type="button" class="btn btn-link p-0" (click)="openUserDetailModal(book._owner)"><span class="card-subtitle mb-2 text-muted">Dono:
                        {{book._owner.name || 'Desconhecido'}}</span></button>
                <button type="button" class="btn btn-link p-0" (click)="openUserDetailModal(book._lentTo)"><span *ngIf="!book.isAvaiable && listBy!=='borrowed'"
                        class="card-subtitle mb-2 text-muted">Emprestado
                        para: {{book._lentTo?.name || 'Desconhecido'}}</span>
                </button>
                <p class="card-text mt-1">Descrição: {{book.description}}</p>
                <button *ngIf="(listBy==='lent' || listBy==='all') && book.isAvaiable" href="#" class="btn btn-primary"
                    (click)="changeBookStatus(book._id)">Pegar Emprestado</button>
                <button disabled *ngIf="(listBy==='lent' || listBy==='all') && !book.isAvaiable" href="#"
                    class="btn btn-primary">Emprestado</button>
                <button *ngIf="listBy==='borrowed'" href="#" class="btn btn-primary"
                    (click)="changeBookStatus(book._id)">Devolver</button>
            </div>
        </div>
    </div>
</div>
<app-user-modal-details #userDetail></app-user-modal-details>