<button href="#" class="btn btn-primary" (click)="openCreateBookModal()">Adicionar Brother Book</button>
<app-book-list #bookList listBy="my"></app-book-list>
<app-create-book-modal #createBookModal (onCreatedBook)="updateScreen()"></app-create-book-modal>